<a href="https://colab.research.google.com/github/marianriq/Curso_Python_2023/blob/main/Clase_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/ITBA-Python/Certificacion-Profesional-Python/blob/main/Clase_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación profesional de Python

# Clase 8

El objetivo de la clase es seguir sumando experiencia de trabajo con programación aprendiendo los siguientes temas.

*   Bases de datos relacionales
*   Lenguaje SQL y aplicaciones en Python

La clase incluye teoría y práctica sobre cada tema aprendido.

<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Bases de datos relacionales

## Introducción a bases de datos

Una base de datos son simplemente conjuntos de datos. Éstos conjuntos hacen referencia a información perteneciente al mismo contexto o concepto, como por ejemplo el nombre, apellido y edad de una persona.
Las bases de datos nos permiten almacenarlos de forma sistemática y estructurada, facilitando la administración de grandes volúmenes de datos.

Existen múltiples modelos de bases de datos, que definen los tipos de datos y la forma en que se almacenan. El modelo más utilizado actualmente son las bases de datos relacionales.

La principal característica de las bases relacionales es que se basan en la idea de crear relaciones entre los conjuntos de datos. La información se almacena en tablas, donde los datos pertecientes a un contexto forman parte de una misma tabla. Cada tabla consta de registros (las filas de la tabla) y campos (las columnas de la tabla). Es muy utilizado ya que es sencillo representar problemas reales y administrar datos dinámicamente.

## Sistemas gestores de bases de datos

Hay programas de software que nos permiten almacenar y posteriormente acceder a los datos de forma rápida y estructurada. Estos son los denominados Sistemas Gestores de Bases de Datos (DBMS por sus siglas en inglés), que dependerán del modelo de base de datos que se utilice. En el caso de los modelos relacionales existen múltiples DBSM. Hay sistemas de código abierto y propietarios, sencillos y avanzados, y la mayoría son compatibles con Python.
Entre algunos de los DBMS más utilizados están SQL Server (desarrollado por Microsoft y únicamente disponible para sistemas Windows), Oracle (multiplataforma), MySQL (open source), PostegreSQL (open source) y SQLite (escrito en C, sencillo de incorporar).

Los DBMS implementan sus propios lenguajes de programación internos para realizar las consultas y modificaciones a los registros en las tablas de datos. El lenguaje más utilizado en las bases de datos relacionales es el SQL (lenguaje de consulta estructurada por sus siglas en inglés).

# Lenguaje SQL

SQL es el lenguaje utilizado para administrar, consultar y modificar información de los RDBMS (DBMS para bases relacionales). El lenguaje funciona a base de comandos, que realizan una única acción ante la base de datos. Como con cualquier tipo de recurso, el lenguaje SQL nos permite interactuar con los datos mediante las cuatro acciones básicas: vista, creación, modificación y borrado.

Para simplificar el desarrollo podemos dividir a su vez los comandos entre los que realizan una lectura de la base de datos, y los que hacen una escritura a la base de datos.

## Lectura

Para leer de las tablas de la base de datos se utiliza el comando SELECT. La sentencia SELECT es una de las más utilizadas en SQL, ya que nos permite consultar las tablas y hacer consultas tan complejas como se requiera.

La forma más básica de SELECT permite consultar todos los datos de una tabla, utilizando conjuntamente la cláusula FROM. Notar que todos los comandos deben terminar con punto y coma para que los reconozca el DBMS.

```sql
SELECT * FROM person;
```

En esta sentencia, estamos seleccionando todas las columnas de la tabla llamada person.

Podemos también especificar que columnas queremos seleccionar especificando la lista de columnas en la sentencia SELECT.

```sql
SELECT full_name, age
FROM person;
```

El procesamiento interno de este query sigue los siguientes pasos:
- Primero se especifica la tabla de la que queremos obtener datos, utilizando la cláusula FROM. Esto genera una tabla sobre la que se harán las lecturas que siguen. En este caso la tabla es simplemente la tabla en sí de la DB, pero puede volverse más complejo.
- Luego se especifican la lista de columnas a seleccionar de la tabla resultante anterior, utilizando la cláusula SELECT.
- Finalmente, los datos resultantes son devueltos por el comando SQL como una tabla de resultados. En este caso las filas serán todas las de la tabla person mientras que las columnas serán solamente full_name y age.

Es importante destacar en este punto que la filas en las tablas de la base de datos están identificadas por una clave única que identifica cada fila, comúnmente llamada clave primaria. Detallaremos más sobre las claves en secciones posteriores.

A esta forma básica del SELECT se le puden sumar una serie de cláusulas para modificar su comportamiento.

### Ordenamiento

En SQL las tablas se almacenan en un orden no definido, por lo que cuando hacemos un SELECT el orden de las filas en la tabla resultado no está definido. Para especificar un orden de filas, se utiliza la cláusula ORDER BY.

```sql
SELECT full_name, age
FROM person
ORDER BY age DESC, full_name ASC;
```

La cláusula ORDER BY se evalúa luego del FROM y el SELECT, y ordena las filas de acuerdo a las columnas que se especifique en el orden ascendente (valor por defecto o utilizando ASC) o descendente (utiliando DESC).
En el ejemplo mostrado se ordenan primero por edad descendiente y luego, para aquellas filas con el mismo valor de age, se ordenan alfabéticamente.

Muchas veces que se aplica un ordenamiento, nos interesa solamente obtener un número limitado de filas, por ejemplo si queremos obtener las 10 personas mayores de la tabla. Para esto se utiliza la cláusula LIMIT.

```sql
SELECT * FROM person
ORDER BY age DESC
LIMIT 10;
```

Si bien la cláusula LIMIT puede utilizarse sin el ORDER BY, al no tener un orden definido una sentencia con LIMIT puede tener comportamientos diferentes. La cláusula LIMIT se evalúa al final de todo el query, luego del ORDER BY.

### Filtrado

Hasta ahora los queries nos devuelven todas las filas de la tabla seleccionada. Si se requiere aplicar un filtro a las filas para seleccionar solamente aquellas que cumplen con cierta condición se utiliza la cláusula WHERE con una condición, luego del FROM y antes del ORDER BY.

```sql
SELECT full_name, age
FROM person
WHERE age >= 18
ORDER BY age DESC;
```

En este caso, la cláusula WHERE se evalúa luego de la cláusula FROM para determinar la tabla de datos sobre la cual se hace el SELECT de columnas y el ordenamiento.

Para definir la condición se pueden utilizar una serie de operadores de comparación y operadores lógicos.

#### Operadores de comparación

Los operadores de comparación de SQL son los mismo que se utilizan en otros lenguajes de programación como Python.
- = : igualdad
- <> : desigualdad
- < ó > : comparación estricta
- <= ó >= : comparación inclusiva

#### Operadores lógicos

Los operadores lógicos de SQL también son los presentes comúnmente en otros lenguajes de programación, pero tiene además algunos particulares de SQL. Si bien podrán notar que muchos de estos operadores pueden implementarse con cadenas de AND o OR, facilitan los queries.

- AND/OR/NOT: los operadores lógicos básicos.
- ALL: evalúa si todas las condiciones son verdaderas.
- ANY: evalúa si cualquiera de las condiciones son verdaderas.

Existen también otros operadores más complejos, como los que se muestran en las secciones siguientes.

##### IN

Verifica si un valor está en una lista especificada de valores.

Ejemplo que filtra las personas de 20 y 25 años.
```sql
SELECT * from person
WHERE age in (20,25);
```

##### BETWEEN

Verifica si un valor está contenido en el rango especificado.

Ejemplo que filtra las personas entre 20 y 25 años.
```sql
SELECT * FROM person
WHERE age BETWEEN 20 AND 25;
```

##### LIKE

Realiza una búsqueda inexacta utilizando patrones de texto. Se utilizan dos caractéres que actúan a modo de comodín: % coincide con cualquier sentencia de cero o más caractéres, _ coincide con cualquier caractér único.

Ejemplo que filtra las personas que se llaman John.
```sql
SELECT * FROM person
WHERE full_name LIKE 'John%';
```

### Agrupaciones

Existen múltiples formas de agrupar datos en SQL. Podemos agrupar columnas de varias tablas para hacer un SELECT, podemos unir las filas de varias tablas en un query, y también podemos agrupar las filas de una misma tabla para calcular agregaciones.

#### Join

Muchas veces los datos que necesitamos se encuentran en múltiples tablas relacionadas. En las bases de datos relacionales las tablas se asocian mediante claves foráneas, que detallaremos más adelante.

Recordemos que anteriormente mencionamos que lo primero que se evalúa en un query es la sentencia FROM para obtener una "tabla intermedia" sobre la cual se hacen los SELECT especificados. Para unir las columnas de varias tablas en esta "tabla intermedia" se utiliza la cláusula INNER JOIN.

Si tenemos dos tablas que se relacionan mediante la columna "foreign_key_col", podemos juntar las columnas de ambas tablas utilizando como condición para las filas esta columna de relación foránea.

```sql
SELECT full_name, age, country_name
FROM person
INNER JOIN countries ON person.country_id = countries.id;
```

Para cada fila de la tabla 'person', la cláusula INNER JOIN compara el valor de la columna country_id con el valor de la columna id de la tabla 'countries'. Solo en el caso que ambos valores sean iguales (ya que pusimos esa condición en luego del ON) se combinan los valores de las columnas de ambas tablas en esa fila.

#### Group

Si queremos calcular agregaciones sobre las filas de una tabla es posible agruparlas en filas de "resumen" de acuerdo a una condición. Para agrupar filas en filas "resumen" se utiliza la cláusula GROUP BY.

Esta cláusula se aplica luego del select, y devuelve una fila para cada grupo, pudiendo aplicar alguna "función agregada" que proporciona SQL. Podemos calcular máximos (MAX), mínimos (MIN), sumas (SUM), conteos (COUNT), promedios (AVG), etc.

```sql
SELECT AVG(age)
FROM person
GROUP BY age;
```

En este ejemplo se devuelve una tabla que contiene solamente una fila de resumen con el promedio de edades de todas las personas de la tabla 'person'.

#### Union

En algunas ocaciones no queremos unir columnas de varias tablas, sino que queremos unir filas. Para esto se utiliza la cláusula UNION con varios queries, y se unen las filas de todas las tablas de resultado.

```sql
SELECT full_name, age FROM person
UNION
SELECT full_name, age FROM pet;
```

En este ejemplo se realizan dos queries distintos, a las tablas de 'person' y 'pet' para luego unir en una sola tabla de resultado las filas obtenidas en cada query.

Hay una serie de condiciones que deben cumplirse para poder unir los resultados de dos queries:
- el número de columnas debe ser igual.
- las columnas correspondientes deben tener tipos de datos compatibles.

Es importante destacar que las cláusulas GROUP BY se aplica en cada query en particular antes de hacer la unión, mientras que la cláusula ORDER BY se aplica luego de la unión.

## Escritura

Los comandos para modificar los registros de la base de datos son muy similares. Podemos interactuar con la base a nivel de registros (filas de las tablas) o a nivel de tablas.

### Registros

Para insertar datos en una tabla se utiliza la instrucción INSERT. Es posible insertar una fila individual, insertar varias filas al mismo tiempo, y especificar valores para uno o más columnas de la tabla.

```sql
INSERT INTO person (full_name, age)
VALUES ('John Smith', 25), ('Emily Smith', 10);
```

Se debe especificar la tabla a insertar valores luego de INSERT INTO, especificar los nombres de las columnas a insertar datos, y luego la lista de valores luego de VALUES en forma de tuplas.

Para modificar los valores de un registro en una tabla se utiliza la instrucción UPDATE. Se pueden actualizar los valores de múltiples columnas en múltiples filas.

```sql
UPDATE person
SET age = 26
WHERE full_name LIKE '%Smith';
```

Al igual que en el INSERT debemos especificar la tabla sobre la que queremos aplicar el udpate. Luego de la cláusula SET se establecen los nuevos valores para las columnas especificadas, en este caso age. Finalmente se utiliza una cláusula WHERE para filtrar en que filas de la tabla deben aplicarse los cambios. Esta cláusula WHERE es exactamente igual que la vista anteriormente en la intrucción SELECT.

Finalmente para eliminiar registros de una tabla se utiliza la cláusula DELETE. La sintáxis es prácticamente idéntica al UPDATE con la única diferencia que no es necesario especificar los nuevos valores de columna, ya que se elimina toda la fila.

```sql
DELETE FROM person
WHERE full_name = 'John Smith';
```

Al igual que en el UPDATE, la cláusula WHERE se usa exactamente igual que en las instrucciones SELECT vistas anteriormente.

### Tablas

El lenguaje también nos permite agregar, modificar y eliminar tablas enteras de la base de datos.

Para crear una tabla se utiliza la instrucción CREATE TABLE.

```sql
CREATE TABLE pet (
    pet_id INTEGER PRIMARY KEY,
    full_name TEXT NOT NULL,
    age INTEGER NOT NULL
);
```

Se definen entre los paréntesis luego del nombre de la tabla las columnas que tendrá la nueva tabla. Cada columna se compone de un nombre, un tipo de datos y una serie de restricciones. Por ejemplo en el caso de la columna full_name definimos que los valores serán texto y no puede contener un valor nulo.

Para alterar una tabla se utiliza una sintáxis muy similar con la instrucción ALTER TABLE. Solo podemos modificar una tabla en una de las siguientes maneras:
- Renombrar la tabla entera con la cláusula RENAME TO
- Agregar una nueva columna con la cláusula ADD COLUMN
- Renombrar una columna con la cláusula RENAME COLUMN

```sql
ALTER TABLE pet
ADD COLUMN species;
```

Finalmente para eliminar por completo una tabla se utiliza la instrucción DROP TABLE.

```sql
DROP TABLE pet;
```

### Claves en tablas

Como mencionamos anteriormente cada fila de una tabla está indentificada por una clave principal, que se representa como una o más columnas de la tabla. La clave principal se debe definir en la creación de la tabla como PRIMARY KEY.

En el caso de las claves que se utilizan para definir relaciones entre tablas, se definen también cuando se crea la tabla como una FOREIGN KEY.

Veamos un ejemplo de la tabla 'pet' que está relacionada con la tabla 'person', indicando el dueño de la mascota.

```sql
CREATE TABLE pet (
    pet_id INTEGER PRIMARY KEY,
    full_name TEXT NOT NULL,
    age INTEGER NOT NULL,
    owner_id INTEGER,
    FOREIGN KEY (owner_id) REFERENCES person (person_id)
        ON DELETE CASCADE
);
```

En este ejemplo se especifica que la columna 'owner_id' de la tabla 'pet' es un enlace con la tabla de 'person', haciendo referencia a la columna 'person_id' de esa tabla.

### Relaciones Many to Many

En los casos anteriores donde definimos una clave foránea, la relación se puede ver como Many to One. Muchos registros de la tabla 'pet' puede estar asociados al mismo dueño, pero cada 'pet_id' solo puede estar asociado a un 'person_id'.

Sin embargo, a veces se requiere que las relaciones entre tablas sean más extensas. Por ejemplo queremos poder establecer no solo que una persona puede tener varias mascotas, sino que una mascota también puede pertecer a varias personas (como por ejemlplo en el caso de una familia). La forma que tienen las bases de datos relacionales de resolver este problema es con la introducción de una nueva tabla que contendrá pares (person_id, pet_id) estableciendo las relaciones entre las tablas. Esta tabla en general suele tener solamente dos columnas, que son claves foráneas a las otras dos tablas.

```sql
CREATE TABLE person_pets(
    person_id INTEGER,
    pet_id INTEGER,
    FOREIGN KEY (person_id) REFERENCES person (person_id),
    FOREIGN KEY (pet_id) REFERENCES pet (pet_id)
);
```

## Ejemplos y ejercicios

### Herramientas de desarrollo

#### SQLite3

Para realizar los ejercicios vamos a utilizar el DBMS SQLite3 ya que es uno de lo más sencillos de instalar y manejar en múltiples plataformas, incluyendo Windows.

La principal característica de SQLite3 es que es un sistema que no requiere de un servidor independiente para funcionar, como sí lo requieren otros motores como MySQL o PostgreSQL. La base de datos SQLite3 está integrada con con la aplicación que accede a la base de datos y no requiere de ninguna configuración.

Para instalar SQLite3 siga las instrucciones de la paǵina oficial: <a href='https://www.sqlite.org/download.html'>Descarga SQLite3</a>

Una vez descargado el archivo comprimido, se debe crear una carpeta nueva: 'C:\sqlite' (la carpeta se debe llamar sqlite y se crea dentro del disco C). Luego se extraen los contenidos del archivo comprimido en esta nueva carpeta, que tendrá tres programas. El que se utilizará para ejecutar las instrucciones de SQL es el sqlite3.exe

#### Base de datos

Utilizaremos una base de datos de ejemplo, que tienen disponible en el repositorio de este curso. La base de datos se llama chinook.db y cuenta con múltiples tablas ya armadas con datos. La base de datos representa pistas de música, álbumes, artistas, entre otros objetos.

Para visualizar los contenidos de esta base de datos pueden utilizar la herramienta DB Browser for SQLite, que también pueden descargarse de la página oficial: <a href="https://sqlitebrowser.org/dl/">Descarga DB Browser</a>.

### Ejemplos

Pueden encontrar un archivo .sql con múltiples instrucciones SQL en el repositorio del curso.

# Aplicaciones en Python

Una vez aprendido los conceptos básicos de SQL debemos aprender a aplicarlos en el lenguaje Python. Existen muchas formas de interactuar con bases de datos desde Python, haciendo uso de SQL en diferentes niveles de abstracción.

## APIs de base de datos

En el nivel más bajo se puede interactuar con una base de datos mediante una API de base de datos. Estas APIs nos permiten programar para los diferentes DBMS, siguiendo un modelo de código que es común a todos.

- Se establece una conexión con la base de datos.
- Se crea un cursor para comunicarse con los datos.
- Se interactúa con los datos mediante SQL.
- Se ejecutan las acciones programadas.
- Se cierra la conexión con la base de datos.

Para estos ejemplos vamos a utilizar el paquete de Python que maneja el motor SQLite3 visto anteriormente.

<a href='https://docs.python.org/3/library/sqlite3.html'>Documentación sqlite3</a>

In [ ]:
import sqlite3

# Creamos una conexión con la base de datos
con = sqlite3.connect('chinook.db')

# Creamos el curso para interactuar con los datos
cursor = con.cursor()

x = 7
# Ejecutar comandos de SQL
res = cursor.execute(f'''
    SELECT name, milliseconds
    FROM tracks
    ORDER BY milliseconds DESC
    LIMIT {x};
''')
for row in res:
    print(row)

# Cerramos la conexión
con.close()

('Occupation / Precipice', 5286953)
('Through a Looking Glass', 5088838)
('Greetings from Earth, Pt. 1', 2960293)
('The Man With Nine Lives', 2956998)
('Battlestar Galactica, Pt. 2', 2956081)
('Battlestar Galactica, Pt. 1', 2952702)
('Murder On the Rising Star', 2935894)

## Mapeo objeto-relacional

El mapeo objeto-relacional, conocido como ORM, es un modelo de programación que permite mapear las estructuras de una base de datos relacional sobre una estructura de objetos y clases, en este de Python. En este nivel de abstracción el ORM nos permite liberarnos de la generación manual de código SQL y se interactúa con la base de datos mediante las clases definidas en el ORM.

Una vez definidos los modelos en el ORM se utilizan de la misma forma que utilizamos clases y objetos de Python cuando vimos POO.

Existen varios ORM para Python, pero entre los más utilizados están:
- Django: un framework de desarrollo web que tiene incorporado un ORM. <a href='https://docs.djangoproject.com/en/4.0/#the-model-layer'>Documentación</a>
- SQLAlchemy: kit de herramientas de SQL para Python. <a href='https://www.sqlalchemy.org/'>Documentación</a>

# Ejercicios

Para todos los ejercicios utilice el paquete sqlite3 de Python para interactuar con la base de datos.

1) Escribir un programa en Python que genere dos tablas, una tabla de paises y una tabla de empresas. Llene ambas tablas con datos aleatorios (puede hardcodear una lista de paise), y asigne también de forma aleatorio las empresas a los paises. Deben cumplir con la restricción de que cada país debe tener al menos una empresa, y además un país no puede tener más de 5 empresas.

Los datos de la tabla país deben ser:
- Nombre del país
- Nombre del continente al que pertenece
- Cantidad de habitantes del país

Los datos de la tabla de empresa deben ser:
- El nombre de la empresa
- La cantidad de empleados
- Los impuestos que debe pagar cada mes
- Un estimado de ganancia mensual
- País al que pertenece (relación la otra tabla)

2) Aumentar los impuestos que deben pagar las empresas de los paises de Europa en un 10%, pero sólo para aquellas empresas con más de 100 empleados.

3) Agregar un empleado a las empresas que pertenecen a un país con menos de 3 millones de habitantes.

4) Disminuir la ganancia estimada de las empresas en paises de más de 40 millones de habitantes, pero sólo para aquellas que paguen al menos $10000 de impuestos.